		{embed="includes/contact"}

	</div>

</div>

<footer id="footer" role="contentinfo">

	<p id="copyright"><small>&copy; {current_time format="%Y"} {site_name}</small></p>

</footer>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script>window.jQuery || document.write("<script src='/a/js/jquery.js'>\x3C/script>")</script>

<script src="/a/js/fixed.js"></script>

<script src="/a/js/matchmedia.js"></script>

<script src="/a/js/picturefill.js"></script>

<script src="/a/js/functions.js"></script>

<script>

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-23972358-1']);
	_gaq.push(['_setDomainName', 'staceyelizabeth.com']);
	_gaq.push(['_trackPageview']);

	(function() {

		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

	})();

</script>

</body>

</html>