<!-- @include _head.html -->

<!-- $title Instagrams | -->

	<!-- @include _header.html -->

	<div class="content" role="main">

		<section id="work">

			<div class="row">

				<div class="thumb">

					<div>

						<a href="#" rel="external">

							<img src="<!-- @path thumb.jpg -->" alt="Project Title" />

							<strong>30 January 2013 <span>&rarr;</span></strong>

						</a>

					</div>

					<p>Comment</p>

					<h2><strong>Likes:</strong> 11</h2>

				</div>

				<div class="thumb">

					<div>

						<a href="#" rel="external">

							<img src="<!-- @path thumb.jpg -->" alt="Project Title" />

							<strong>30 January 2013 <span>&rarr;</span></strong>

						</a>

					</div>

					<p>Comment</p>

					<h2><strong>Likes:</strong> 11</h2>

				</div>

				<div class="thumb">

					<div>

						<a href="#" rel="external">

							<img src="<!-- @path thumb.jpg -->" alt="Project Title" />

							<strong>30 January 2013 <span>&rarr;</span></strong>

						</a>

					</div>

					<p>Comment</p>

					<h2><strong>Likes:</strong> 11</h2>

				</div>

				<div class="thumb">

					<div>

						<a href="#" rel="external">

							<img src="<!-- @path thumb.jpg -->" alt="Project Title" />

							<strong>30 January 2013 <span>&rarr;</span></strong>

						</a>

					</div>

					<p>Comment</p>

					<h2><strong>Likes:</strong> 11</h2>

				</div>

				<div class="thumb">

					<div>

						<a href="#" rel="external">

							<img src="<!-- @path thumb.jpg -->" alt="Project Title" />

							<strong>30 January 2013 <span>&rarr;</span></strong>

						</a>

					</div>

					<p>Comment</p>

					<h2><strong>Likes:</strong> 11</h2>

				</div>

				<div class="thumb">

					<div>

						<a href="#" rel="external">

							<img src="<!-- @path thumb.jpg -->" alt="Project Title" />

							<strong>30 January 2013 <span>&rarr;</span></strong>

						</a>

					</div>

					<p>Comment</p>

					<h2><strong>Likes:</strong> 11</h2>

				</div>

				<div class="thumb">

					<div>

						<a href="#" rel="external">

							<img src="<!-- @path thumb.jpg -->" alt="Project Title" />

							<strong>30 January 2013 <span>&rarr;</span></strong>

						</a>

					</div>

					<p>Comment</p>

					<h2><strong>Likes:</strong> 11</h2>

				</div>

				<div class="thumb">

					<div>

						<a href="#" rel="external">

							<img src="<!-- @path thumb.jpg -->" alt="Project Title" />

							<strong>30 January 2013 <span>&rarr;</span></strong>

						</a>

					</div>

					<p>Comment</p>

					<h2><strong>Likes:</strong> 11</h2>

				</div>

				<div class="thumb">

					<div>

						<a href="#" rel="external">

							<img src="<!-- @path thumb.jpg -->" alt="Project Title" />

							<strong>30 January 2013 <span>&rarr;</span></strong>

						</a>

					</div>

					<p>Comment</p>

					<h2><strong>Likes:</strong> 11</h2>

				</div>

			</div>

		</section>

		<!-- @include _contact.html -->

	</div>

	<!-- @include _footer.html -->

	<!-- @include _footer-scripts.html -->

</body>

</html>