<!-- @include _head.html -->

<!-- $title Project Title | -->

	<!-- @include _header.html -->

	<div class="content" role="main">

		<section id="work">

			<div class="row">

				<div class="overview">

					<h2>Project Title</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					<div class="meta">

						<ul>
							<li><strong>Client:</strong> Title</li>
							<li><strong>Creative Director:</strong> Title</li>
							<li><strong>Copywriter:</strong> Title</li>
						</ul>

					</div>

					<div class="navigation">

						<div class="prev"><a href="#"><span>&larr;</span> Previous</a></div>
						<div class="next"><a href="#">Previous <span>&rarr;</span></a></div>

					</div>

				</div>

				<div class="samples">

					<ul>
						<li class="full-width"><img src="<!-- @path sample-600.jpg -->" alt="Description" /></li>
						<li class="one-third"><img src="<!-- @path sample-250.jpg -->" alt="Description" /></li>
						<li class="two-third"><img src="<!-- @path sample-345.jpg -->" alt="Description" /></li>
						<li class="full-width"><img src="<!-- @path sample-600.jpg -->" alt="Description" /></li>
					</ul>

				</div>

			</div>

		</section>

		<!-- @include _contact.html -->

	</div>

	<!-- @include _footer.html -->

	<!-- @include _footer-scripts.html -->

</body>

</html>