<!doctype html>

<html lang="en">

<head>

	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{site_name}</title>

	<meta name="description" content="Design and Photography Portfolio">

	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<meta http-equiv="cleartype" content="on">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<link rel="shortcut icon" href="/-/media/favicon.png">
	<link rel="apple-touch-icon" href="/-/media/apple-touch-icon.png">

	<meta property="og:title" content="{site_name}" />
	<meta property="og:description" content="Design and Photography Portfolio" />
	<meta property="og:image" content="/-/media/sem-icon.png" />

	<link type="text/css" href="/-/css/screen.css" rel="stylesheet" media="screen, projection" />
	<link type="text/css" href="/-/css/print.css" rel="stylesheet" media="print" />

	<!--[if lt IE 8]>
		<link type="text/css" href="/-/css/ie.css" rel="stylesheet" media="screen, projection" />
	<![endif]-->

	<!--[if IE 8]>
		<link type="text/css" href="/-/css/ie8.css" rel="stylesheet" media="screen, projection" />
	<![endif]-->

	<!--[if lte IE 9]>
		<link type="text/css" href="/-/css/ie9.css" rel="stylesheet" media="screen, projection" />
	<![endif]-->

	<script type="text/javascript">

		<!--

			document.write('<link type="text/css" href="/-/css/enhanced.css" rel="stylesheet" media="screen, projection" />');

		//-->

	</script>

	<script type="text/javascript" src="//use.typekit.net/pes3zua.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<!--[if lt IE 9]>

		<script src="/-/js/modernizr.js"></script>

		<script src="/-/js/selectivizr.js"></script>

		<script src="/-/js/respond.js"></script>

	<![endif]-->

	<!-- RSS feed -->

	<!-- <link type="application/rss+xml" href="/feed" rel="alternate" title="RSS" /> -->

</head>

<body id="{segment_1}">

<div id="page">