<!doctype html>

<html lang="en">

<head>

	<!-- @reload -->

	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title><!-- $title | --> Stacey Elizabeth McClure</title>

	<meta name="description" content="Design and Photography Portfolio">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<link rel="shortcut icon" href="<!-- @path favicon.png -->">
	<link rel="apple-touch-icon" href="<!-- @path apple-touch-icon.png -->">

	<meta property="og:title" content="Stacey Elizabeth McClure" />
	<meta property="og:description" content="Design and Photography Portfolio" />
	<meta property="og:image" content="<!-- @path sem-icon.png -->" />

	<link type="text/css" href="<!-- @path style.css -->" rel="stylesheet" media="screen, projection" />
	<link type="text/css" href="<!-- @path print.css -->" rel="stylesheet" media="print" />

	<!--[if lt IE 8]>
		<link type="text/css" href="<!-- @path ie.css -->" rel="stylesheet" media="screen, projection" />
	<![endif]-->

	<!--[if IE 8]>
		<link type="text/css" href="<!-- @path ie8.css -->" rel="stylesheet" media="screen, projection" />
	<![endif]-->

	<!--[if lte IE 9]>
		<link type="text/css" href="<!-- @path ie9.css -->" rel="stylesheet" media="screen, projection" />
	<![endif]-->

	<script type="text/javascript">

		<!--

			document.write('<link type="text/css" href="<!-- @path enhanced.css -->" rel="stylesheet" media="screen, projection" />');

		//-->

	</script>

	<script type="text/javascript" src="//use.typekit.net/pes3zua.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<!--[if lt IE 9]>

		<script src="<!-- @path modernizr.js -->"></script>

		<script src="<!-- @path selectivizr.js -->"></script>

		<script src="<!-- @path respond.js -->"></script>

	<![endif]-->

	<!-- RSS feed -->

	<!-- <link type="application/rss+xml" href="/feed" rel="alternate" title="RSS" /> -->

</head>

<body class="">

<div id="page">