<!-- @include _head.html -->

<!-- $title Design | -->

	<!-- @include _header.html -->

	<div class="content" role="main">

		<section id="work">

			<div class="row">

				<div class="thumb">

					<div>

						<a href="<!-- @path design-project.html -->">

							<img src="<!-- @path thumb.jpg -->" alt="Project Title" />

							<strong>View Work <span>&rarr;</span></strong>

						</a>

					</div>

					<p>Category</p>

					<h2><a href="<!-- @path design-project.html -->">Project Title</a></h2>

				</div>

				<div class="thumb">

					<div>

						<a href="<!-- @path design-project.html -->">

							<img src="<!-- @path thumb.jpg -->" alt="Project Title" />

							<strong>View Work <span>&rarr;</span></strong>

						</a>

					</div>

					<p>Category</p>

					<h2><a href="<!-- @path design-project.html -->">Project Title</a></h2>

				</div>

				<div class="thumb">

					<div>

						<a href="<!-- @path design-project.html -->">

							<img src="<!-- @path thumb.jpg -->" alt="Project Title" />

							<strong>View Work <span>&rarr;</span></strong>

						</a>

					</div>

					<p>Category</p>

					<h2><a href="<!-- @path design-project.html -->">Project Title</a></h2>

				</div>

				<div class="thumb">

					<div>

						<a href="<!-- @path design-project.html -->">

							<img src="<!-- @path thumb.jpg -->" alt="Project Title" />

							<strong>View Work <span>&rarr;</span></strong>

						</a>

					</div>

					<p>Category</p>

					<h2><a href="<!-- @path design-project.html -->">Project Title</a></h2>

				</div>

				<div class="thumb">

					<div>

						<a href="<!-- @path design-project.html -->">

							<img src="<!-- @path thumb.jpg -->" alt="Project Title" />

							<strong>View Work <span>&rarr;</span></strong>

						</a>

					</div>

					<p>Category</p>

					<h2><a href="<!-- @path design-project.html -->">Project Title</a></h2>

				</div>

				<div class="thumb">

					<div>

						<a href="<!-- @path design-project.html -->">

							<img src="<!-- @path thumb.jpg -->" alt="Project Title" />

							<strong>View Work <span>&rarr;</span></strong>

						</a>

					</div>

					<p>Category</p>

					<h2><a href="<!-- @path design-project.html -->">Project Title</a></h2>

				</div>

			</div>

		</section>

		<!-- @include _contact.html -->

	</div>

	<!-- @include _footer.html -->

	<!-- @include _footer-scripts.html -->

</body>

</html>